<form action = '/bookmarks/<%=@bookmark.id%>' method="post">
  <%= erb :'bookmarks/_form'%>
    <button>Edit</button>
</form>
<form action = '/bookmarks' method="get">
    <button>Back</button>
</form>